.btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  min-width: 120px;
  height: 36px;
  padding: 0 5px;
  border: 1px solid #c2c2c2;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 13px;
  color: #262626;
  line-height: 34px;
  text-align: center;

  &_primary {
    border-color: $blue2;
    background-color: $blue2;
    color: #fff;
  }
}
