.gnb {
  width: 270px;

  .btn_gnb {
    display: inline-flex;
    width: 100%;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .ic_toggle {
      transition: rotate .2s;
    }

    &.is_toggle {
      .ic_toggle {
        rotate: 180deg;
      }
    }
  }
}