.post {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
  color: $black;
  transition: border-color .2s;

  &:hover {
    border-color: rgb(137, 137, 137);
  }

  &+.post {
    margin-top: 15px;
  }

  &_link {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &_interactive {
    width: 40px;
    padding: 20px 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f8f9fa;
  }

  &_content {
    padding: 10px;
    flex: 1 0;
    background-color: $white;
  }

  &_author,
  &_date {
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: $black;
  }

  &_author {
    z-index: 2;

    &:hover {
      text-decoration: underline;
    }
  }

  &_date {
    margin-left: 5px;
    font-weight: 300;
    color: rgb(120, 124, 126);
  }

  &_header {
    display: flex;

    &+.post_title {
      margin-top: 30px;
    }

    &:empty {
      width: 60%;
      height: 20px;
    }
  }

  &_title {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;

    &:empty {
      width: 80%;
      height: 20px;
    }
  }

  &_description {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #1c1c1c;

    &:empty {
      width: 100%;
      height: 96px;
    }
  }

  &_wrap {
    padding: 40px 0;
  }
}