.select {
	position: relative;
	width: 100px;

	&.is_selected {
		.select_options {
			display: block;
		}

		.select_toggle {
			rotate: 0deg;
		}
	}

	&_btn {
		display: flex;
		padding: 5px;
		align-items: center;
		width: 100%;
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		color: #878a8c;
		background-color: $white;
		border-radius: 4px;
	}

	&_toggle {
		margin-left: auto;
		rotate: 180deg;
	}

	&_options {
		display: none;
		position: absolute;
		overflow: hidden;
		top: calc(100% + 4px);
		left: 0;
		width: 100%;
		border-radius: 4px;
		border: 1px solid #edeff1;
		box-shadow: 0 2px 4px 0 rgba($color: #1c1c1c, $alpha: 0.2);
		box-sizing: border-box;
		z-index: 10;

		.select_btn {
			&:hover {
				color: #333;
			}
		}

		.select_item {
			&:not(:first-child) {
				border-top: 1px solid #edeff1;
			}

			&.is_active {
				.select_btn {
					color: #0079d3;
				}
			}
		}
	}
}
